body{
    background-color: aquamarine;
}

div h1{
    width: 200px;
}


.poster{
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(13, 255, 33);
}

.posterimg{
    width: 200px;
    height: 300px;
}

#poster1{
    background-color: rgb(75, 75, 75);
}

#poster2{
    background-color: rgb(13, 113, 228);
}

#poster3{
    background-color: rgb(255, 0, 0);
}